<ion-view view-title="Pornoite">
	<ion-content>
		<div class="list card">
		  <div class="item item-avatar">
		    <img src="img/mfree.jpg">
		    <h2>Motel Free</h2>
		    <p>(092)3238-2766</p>
				<a href="#" class="item-icon-right">
			    <i class="icon ion-map"></i>
			  </a>
		  </div>
		  <div class="item item-body">
		    <img class="full-image" src="img/front-mfree.jpg">
				<h5> <i class="icon ion-location"></i> Avenida da Liberdade, 616 - Santo Agostinho - Manaus - AM </h5>
		    <p>
		      Com um cuidado especial com a higiene e limpeza de suas acomodações, o Motel Free é destaque na cidade de Manaus. Conta com suítes aconchegantes e requintadas. Confira!
		    </p>
		  </div>
		  <div class="list">
			  <a class="item item-icon-left positive" href="#">
			    <i class="icon ion-social-facebook"></i>
			    /motelfree
			  </a>
			  <a class="item item-icon-left dark" href="#">
			    <i class="icon ion-social-instagram"></i>
			    /motelfree
			  </a>
			  <a class="item item-icon-left positive" href="#">
			    <i class="icon ion-social-twitter"></i>
			    @motelfree
			  </a>
			</div>
		</div>
	</ion-content>
</ion-view>
