<ion-view view-title="Pornoite">
	<ion-content>
    <div class="list">
			<div class="item item-divider">
		    VIPS
		  </div>
      <a class="item item-avatar" href="#/app/details">
        <img src="img/mfree.jpg">
        <h2>Motel Free</h2>
        <p>Aberto.</p>
				<span class="item-note">
		      <i class="icon ion-star"></i>
		    </span>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
      </a>
			<div class="item item-divider">
		    Outros
		  </div>
			<a class="item item-avatar" href="#">
        <img src="img/tahiti.png">
        <h2>Tahiti</h2>
        <p>Fechado.</p>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
      </a>
			<a class="item item-avatar" href="#">
        <img src="img/cks.jpg">
        <h2>CKS- Cê ki sabe</h2>
        <p>Aberto.</p>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
      </a>
			<a class="item item-avatar" href="#">
        <img src="img/cobras.jpg">
        <h2>Cobras Motel</h2>
        <p>Aberto.</p>
				<i class="icon ion-star"></i>
				<i class="icon ion-star"></i>
      </a>
    </div>
	</ion-content>
</ion-view>
